.friends{
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar{
        overflow: hidden;
    }
    .hover-friendActive{
        margin-bottom: 15px;
        width: 275px;
        padding: 5px;
        height: 95%;
        padding-bottom: 15%;
        background: rgba(198, 203, 225, 0.568);
    }
    .hover-friend:hover{
        background: rgba(198, 203, 225, 0.568);
        height: 70px;
        width: 276px;
    }
    .hover-friend,.hover-friendActive{
        cursor: pointer;
        .friend{
            padding: 7px 15px;
            .friend-image{
                margin-top: 4px;
                float: left;
                width: 20%;
                display: flex;
                .image{
                    width: 45px;
                    height: 45px;
                    overflow: hidden;
                    border-radius: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            
            }
            .friend-name{
                float: left;
                display: flex;
                width: 50%;
                margin-top: -6px;
                align-items: center;
               h4{
                   padding-left: 10px;
                   color: black;
                //    #fff
                   font-weight: 600

               }     
            }
        }
    }
}