.messenger{
    position: absolute;
    top:9.4%;
    display: inline-block;
    width: 98.5%;
    left:1.5%;
    height: 90vh;
    // #141b2bf0
    .friendZone{ 
        position: absolute;
        top:0;
        width: 100%;
        left:0;
        bottom:0;
        right:0;
        height: 100%;
        display: flex;
         .left-side{
            border-right: 1px solid #cacccfbf;
            // #213156bf
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: start;
            .top{
                width: 100%;
                position: relative;
                margin-top:0;
                margin-left: 0;
                margin-right: 0;
                height: 84px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .image-name{
                    width: 200px;
                    padding: 8px;
                    height: 60px;
                    display: flex;
                    cursor: pointer;
                    .image{
                        width: 27%;
                        height:95%;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .name{
                        width: 70%;
                        display: flex;
                        h3{
                            padding-left: 10px ;
                            font-weight: 600;
                            color: black;
                            // #fff
                        }
                    }
                }
                .icons{
                    display: flex;
                    padding-top: 17px;
                    width: 80px;
                    height: 60px;
                    .icon{
                        position: relative;
                        padding: 8px;
                        width: 15px;
                        height: 15px;
                        margin: 5px;
                        background: #5f5f6557;
                        border-radius: 50%;
                        color: black;
                        // #fff
                        cursor: pointer;
                        .i{
                            font-size: 15px;
                        }
                    }
                }
            }
            .friend-search{
                padding: 0px 8px;
                .search{
                    display: flex;
                    width: 100%;
                    height: 40px;
                    background-color: #d0d0d059;
                    border-radius: 50px;
                    margin: 20px 0px;
                    button {
                        text-align: center;
                        cursor: pointer;
                        padding: 12px;
                        width: 60px;
                        border-bottom-right-radius: 50px;
                        border-top-right-radius: 50px;
                        border:none;
                        color:  black;
                        // #fff
                        font-size: 20px;
                        background: rgb(209, 209, 209);
                    }
                    button:hover{
                        background: rgb(195, 192, 192);
                    }
                    .form-control{
                        width: 100%;
                        color: rgb(86, 86, 86);
                        outline: none;
                        padding-left: 15px;
                        border-bottom-right-radius: 50px ;
                        border-top-right-radius: 50px;
                        background-color: #fff0;
                        border: none;
                    }
                }
            }   
        } 
    }
}












