
.message-send-section{
    position: relative;
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    .file{
        display: flex;
        padding: 8px;
        font-size: 20px;
        cursor: pointer;
        color:black;
        // #fff
        label{
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            cursor: pointer;
        }
         #pic{
             display: none;
         }
         


    }
    
    .message-type-image{
        display: flex;
        width: 100%;
        padding-right: 0px;
        padding-top: 15px;
        height: 100px;
        border-radius: 20px;
        border: none;
        align-items: center;
        .upload{
            background: none;
            position: absolute;
            width:18%;
            top:10px;
            left: 90px;
            text-align: center;
            height: auto;
            padding-left: 15px;
            padding-top: 5px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            button {
                border-radius: 50%;
                border: 1px solid rgb(67, 67, 67);
                background: rgb(246, 245, 245);
                color: rgb(67, 67, 67);
                cursor: pointer;
                position: absolute;
                left: 105px;
                top:0px
            }
            img{
                width: 100%;
                height: 100%;
                margin-bottom: 15px;
            }
        }
        .formControl{
            padding-left: 15px;
            position: absolute;
            top:65%;
            width: 64%;
            height: 40px;
            outline: none;
            color: rgb(86, 86, 86);
            border-radius: 50px;
            background:transparent;
            border: none;
        }
        .emoji-icon{
            position: absolute;
            right: 60px;
            top:45px;
            font-size: 20px;
            margin-right: 5px;
            cursor: pointer;
            background: red;
        }
    }
    .message-type{
        display: flex;
        width: 80%;
        height: auto;
        background: #d0d0d059;
        border-radius: 50px;
        border: none;
        align-items: center;
        .form-control{
            padding-left: 15px;
            width: 100%;
            height: 40px;
            outline: none;
            color: rgb(86, 86, 86);
            border-bottom-left-radius: 50px;;
            border-top-left-radius: 50px;
            background: transparent;
            border: none;
        }
        label{
            font-size: 20px;
            margin-right: 5px;
            cursor: pointer;
                }
                
    }
    .emoji-section{
        width: 300px;
        background: #0e131d;
        position: absolute;
        right: 60px;
        padding: 6px;
        bottom: 50px;
        border-radius: 8px;
        border-bottom-right-radius: 0px;
        display: none;
        overflow: auto;
        height: 300px;
        .emoji{
            display: grid;
            grid-template-columns: repeat(8,1fr);
            grid-gap:4px;
            .emoji-click{
                cursor: pointer;
                border-radius: 50%;
                width: 30px;
                height: 27px;
                padding: 1px;
                padding-top: 7px;
                text-align: center;
            }
            .emoji-click:hover{
                background: rgba(197, 197, 247, 0.275);
            }
        }
        &::-webkit-scrollbar{
            overflow: hidden;
            border-radius: 14px;
            background:rgba(197, 197, 247, 0.275) ;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 14px;
            background:rgba(197, 197, 247, 0.275) ;
        }
    }
    #emoji{
        display: none;
    }
    #emoji:checked ~ .emoji-section{
        display: block;
    }
   
}
