.secondComponent{
    width: 143.5vh;
    position: absolute;
    display: inline-block;
    left:25.5%;
    height: 90vh;
    .right-side{
        width: 100%;
        height: 100%;
        position: relative;
        left:0;
        top:0;
        right: 0;
        .row{
            float: left;
            width: 95vh;
            height: 100%;
            .col-8{
                position: absolute;
                left:0;
                bottom: 0;
                width: 95vh;
                top:0;
                transition: all .3s;
                .message-send-show{
                    height: 100%;
                    border-right: 1px solid #cacccfbf;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .header{
                        height: 50px;
                        width: 97%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 12px 10px;
                        border-bottom: 1px solid #cacccfbf;
                        .image-name{
                            display: flex;
                            width: 90%;
                            .image{
                                position:relative;
                                width:65px;
                                height: 65px;
                                padding-top: 5px;
                                img{
                                    border-radius: 50%;
                                    width: 50px;
                                    height: 50px;
                                }
                                .active-icon{
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    top:40px;
                                    left:40px;
                                    right: 0px;
                                    bottom:0px;
                                }
                            }
                            .name{
                                display: flex;
                                width: 90%;
                                h3{
                                    padding-left: 10px;
                                    color: black;
                                    // #fff
                                }
                            }
                        }
                        .icons{
                            display: flex;
                            .icon{
                                font-size: 12px;
                                height: 35px;
                                width: 35px;
                                border-radius: 50%;
                                margin-left: 8px;
                                border-radius: 24px;
                                color: black;
                                // #fff
                                cursor: pointer;
                                background-color: #0a0a1357;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                label{
                                    display: flex;
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        
        .col-4{
            
        }
    }
    #dot{
        display: none;
     }
     #dot:checked ~ .row .col-4{
         display: none;
         
     }
     #dot:checked ~ .row .col-8{
         width: 870px;
     }
     #dot:checked ~ .row .col-8 .message-show .my-message .my-text{
        width: 500px;
     }
     #dot:checked ~ .row .col-8 .message-show .fd-message .fd-text{
         width: 500px;
      }
}
}