.formInput{
    width: 20%;
    padding: 5px;
    height: 35px;
    color:black;
    outline:none;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 30px;
}
.overlay {
  background:rgb(247, 247, 247);
  height:540px;
}
.span{
  text-align:center;
  background:green;
  border-radius:50%;
  padding: 8px;
  width: 2.5%;
  height: 3.8%;
  position: absolute;
  left:48%;
  top:4%;
}
.btnupload{
    width:300px;
    padding-top:16px;
    padding-left: 13px;
    cursor:pointer;
    color : grey;
    height:37px;
    margin-top:0%;
    border-radius:5px;
    border: 1px solid rgb(164, 164, 164)
}
.container {
  position: relative;
  margin-top: 1.5%;
  width: 800px;
  height: 500px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.spanOne{
  position:absolute;
  top:15%;
  font-size:15px;
  left:5%;
  color:white;
  background: rgb(87, 179, 87);
  padding:10px;
  border-radius:5px;
  cursor:pointer;
  width: 1.5%;
}
.spanOne:hover{
  transform:scale(1.1)
}
.form{
  position: absolute;
  width: 90%;
  top:-0.1%;
  height: 420px;
  padding: 40px;
  border-radius:10px;
}

  .buttons{
    position :absolute;
    text-align:center;
    padding-top:10px;
    bottom:0;
    left:35%;
    width:230px;
    height:50px;
  }
.btn{
    width: 120px;
    height: 40px;
    position: relative;
    padding: 5px;
    background: #fe5a1d;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}
.btn:hover{
  background: #e85d2a
}
  .formInput{
    width:90%
  }
  .btnUpload{
    width:100%;
    cursor:pointer;
  }