.formInput{
    width: 20%;
    padding: 5px;
    height: 35px;
    color:black;
    outline:none;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 30px;
}
.sectionP {
  position:absolute;
  top:15%;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background:rgb(245, 245, 245);
  height:640px;
  margin-top:-2%;
}
.span{
  text-align:center;
  background:green;
  padding-bottom: 35px;
  border-radius:50%;
  padding: 15px;
  font-size: 18px;
  position: absolute;
  left:48%;
  top:4%;
}
.div1{
  position:absolute;
  left:5%;
  top:30%;
  width: 300px;
}
.div2{
  width: 300px;
  position: absolute;
  right:5%;
  top:30%;
}
.btnupload{
    width:300px;
    padding-top:16px;
    padding-left: 13px;
    cursor:pointer;
    color : grey;
    height:55px;
    margin-top:0%;
    border-radius:5px;
    border: 1px solid rgb(189, 189, 189)
}
.container {
  position: relative;
  margin-top: 1.5%;
  width: 800px;
  height: 550px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.spanOne{
  position:absolute;
  top:15%;
  font-size:15px;
  left:4%;
  color:white;
  background: rgb(87, 179, 87);
  padding:10px;
  border-radius:5px;
  cursor:pointer;
  width: 3%;
}
.spanOne:hover{
  transform:scale(1.1)
}
.form{
  position: absolute;
  width: 100%;
  top:-0.1%;
  height: 100%;
  padding: 20px;
  border-radius:10px;
}

  .buttons{
    position :absolute;
    text-align:center;
    padding-top:10px;
    bottom:5%;
    left:35%;
    width:230px;
    height:50px;
  }
.btn{
    width: 120px;
    height: 40px;
    position: relative;
    padding: 5px;
    background: #fe5a1d;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}
.btn:hover{
  background: #e85d2a
}
.sekchBn
  .formInput{
    width:90%
  }
  .btnUpload{
    width:100%;
    cursor:pointer;
  }