:root {
  --main-color: rgba(171, 74, 230, 1);
  --secondary-color: rgba(160, 20, 103, 1);
  --black : #242D49;
  --gray : #788097;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:hover{
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    50deg,
    #c71585 0%,
    var(--main-color) 49%
  );
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    50deg,
    #c71585 0%,
     var(--main-color) 49%
  );
}

/* Default Table Style */
table {
  /* margin-top: -15%; */
  width: 97%;
  margin-left:2%;
  background: transparent;
  border-collapse: collapse;
}
table thead{
  height: 40px;
  background: #aec6cf;
  color:white;
}


.table tbody tr:hover {
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
table thead th,
table tfoot th {
  background: rgba(0, 0, 0, 0.1);
}
table th,
table td {
  border: 1px solid lightgrey;
  text-align: center;
}
/* Zebra Table Style */
[data-table-theme*="zebra"] tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}
[data-table-theme*="zebra"][data-table-theme*="dark"]
  tbody
  tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.05);
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px;
}
.body{
  margin : 0;
}
.addBtn {
  cursor: pointer;
  color: var(--secondary-color);
}
.addBtn:hover {
  color: rgb(190, 6, 117);
}



.formInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formContainer {
  padding-top: 10vh;
  padding-left: 200px;
  padding-right: 200px;
}

.container {
  width: 100%;
  display: flex;

}

.row {
  /* width: 100%; */
  padding-left: 5%
}

.col2 {
  margin: 5px;
  width: 50%;
  transition: all 0.6s;
}
.btn {
  background:none;
  position: relative;
  left:37%;
  font-weight:bold;
  border: 2px solid grey;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 15px;
  min-width: 25%;
  margin: 10px;
  height: 6%;
  cursor: pointer;
  transition: .4s linear;
}
.btn:hover{
  color: white;
  background:none;
  border:none
}
.btn::before{
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  width: 0px;
  border:none;
  border-radius:12px;
  height: 100%;
  background: #bcd4e6;
  z-index: -1;
  transition : .2s linear;
  cursor:pointer;
}
.btn:hover::before{
  width: 100%
}

/* */
.card1{
  border: 1px solid #a2a2d0;
  background: none;
  display: inline-block;
  width: 20%;
  margin-bottom: 5%;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
 }
 .card1::before{
     content:"";
     position: absolute;
     left:0;
     width: 100%;
     height: 0%;
     background: #a2a2d0;
     z-index: -1;
     transition: 0.8s;
 }
 .card2{
   color:#a2a2d0;
 }
 .card2:hover{
   color: #fff;
 }
 .card2::before{
   bottom:0;
   border-radius: 50% 50% 0 0 ;
 }
 .card2:hover::before{
   height: 180%;
 }

/* */
.col3 {
  padding: 10px;
  box-shadow : -2px -2px 5px #babecc, 2px 2px 5px #babecc;
  border-radius: 10px;
  /* box-shadow: 0 0 2px; */
  display: inline-block;
  cursor:pointer;
  justify-content: center;
  align-content: center;
  margin: 5px;
  width: calc(100% / 3.75);
  height: auto;
  transition: all 0.6s;
}

.defaultBtn {
  border-width: 0px;
  padding: 10px;
  color: white;
  background-color: rgb(187, 75, 142);
  transition: all 0.6s;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}
.defaultBtn:hover {
  background-color: rgb(126, 17, 82);
}

.transparentBtn {
  border-width: 1px;
  padding: 12px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.6s;
  border-radius: 5px;
  cursor: pointer;
}
.transparentBtn:hover {
  background-color: rgb(221, 221, 221);
}

.primaryBtn {
  border-width: 0px;
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 191, 238);
  transition: all 0.6s;
  border-radius: 5px;
  cursor: pointer;
  width: 15px;
  height: 4px
}
.primaryBtn:hover {
  background-color: rgb(48, 156, 199);
}

.dangerBtn {
  border-width: 0px;
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(250, 39, 39);
  transition: all 0.6s;
  border-radius: 5px;
  cursor: pointer;
}
.dangerBtn:hover {
  background-color: rgb(172, 18, 18);
}

.actionBtn {
  border-width: 0px;
  padding: 10px;
  color: white;
  background-color: rgb(179, 179, 179);
  transition: all 0.6s;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}
.actionBtn:hover {
  background-color: rgb(112, 112, 112);
}

.navIcon {
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 2px;
  padding: 10px;
}

.blur {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 1111;
  background-color: rgba(0, 0, 0, 0.527);
  top: 0;
  left: 0;
}

.btn1{
  border: 1px solid #a2a2d0;
  background: none;
  width: 30%;
  margin-bottom: 5%;
  left:7%;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
 }
 .btn1::before{
     content:"";
     position: absolute;
     left:0;
     width: 100%;
     height: 0%;
     background: #a2a2d0;
     z-index: -1;
     transition: 0.8s;
 }
 .btn2{
   color:#a2a2d0;
 }
 .btn2:hover{
   color: #fff;
 }
 .btn2::before{
   bottom:0;
   border-radius: 50% 50% 0 0 ;
 }
 .btn2:hover::before{
   height: 180%;
 }


.blurContent {
  z-index: 9999;
  position: fixed;
}

.alertBox {
  top: 200px;
  left: 25%;
  width: 50%;
  height: 25vh;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.alertBox .buttonContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.alertBox h4 {
  padding-left: 20px;
}

.select {
  position: relative;
  width: 80%;
  float: left;
  margin-left: 10%;
  outline:none;
  padding: 5px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.paginationContainer {
  align-items: center;
  text-align: center;
  margin: 20px;
  border:none;
  width: 45%;
  border-radius: 5px;
  margin-left:27%;
}

.pagination {
  padding: 5px;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.6s;
}

.pagination:hover {
  transform: scale(1.2);
  text-decoration: underline;
  font-weight: bold;
  color: var(--secondary-color);
}

.activePagination {
  transform: scale(1.2);
  display: inline-flex;
  padding: 5px;
  text-decoration: underline;
  font-weight: bold;
  color: var(--secondary-color);
}
@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
 }
  100% {
    opacity: 1;
    top: 0px;
 }
}
@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
 }
  100% {
    top: -400px;
    opacity: 0;
 }
}
#body {
  background: #eee;
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#body #scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
#body #scene #left-zone {
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}
#body #scene #left-zone .list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
#body #scene #left-zone .list li.item input[type="radio"] {
  display: none;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
  text-transform: uppercase;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content {
  position: absolute;
  left: 350px;
  top: -400px;
  width: 650px;
  height: 400px;
  animation-duration: 0.75s;
  animation-name: slideout;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry .picto {
  height: 105px;
  width: 148px;
  background-image: url(service2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry h1 {
  color: #d64541;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana .picto {
  height: 110px;
  width: 155px;
  background-image: url(service2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana h1 {
  color: #f5d76e;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple .picto {
  height: 100px;
  width: 159px;
  background-image: url(service1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple h1 {
  color: #00b16a;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange .picto {
  height: 100px;
  width: 140px;
  background-image: url(service3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange h1 {
  color: #f27935;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content h1:first-letter {
  text-transform: uppercase;
}
#body #scene #left-zone .list li.item input[type="radio"] ~ .content p {
  max-width: 50%;
  text-align: center;
}
#body #scene #left-zone .list li.item input[type="radio"]:checked ~ label {
  opacity: 1;
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_strawberry {
  color: #d64541;
  border-right: solid 4px #d64541;
}
#body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_banana {
  color: #f5d76e;
  border-right: solid 4px #f5d76e;
}
#body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_apple {
  color: #00b16a;
  border-right: solid 4px #00b16a;
}
#body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_orange {
  color: #f27935;
  border-right: solid 4px #f27935;
}
#body #scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
  animation-duration: 0.75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#body #scene #middle-border {
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}
#body #scene #right-zone {
  background: #fff;
  height: 100%;
  flex-grow: 3;
}
/**** ChatContent****/
.box2 {
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
  margin-top:27%;
  left:-74%;
  background-color: white;
  color: black;
  padding: 8px;
  font-size: 14px;
}
.box2.arrow-top:after {
  content: " ";
  position: absolute;
  right: 13px;
  top: -15px;
  border-bottom: 15px solid white;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-top: none;
}

@media (max-width: 800px) {
  .formContainer {
    padding-top: 10vh;
    padding-left: 40px;
    padding-right: 40px;
  }
  .row {
    display: block;
  }
  .col2 {
    padding-left: 10%;
    width: 80%;
    margin-bottom: 20px;
  }
  .col3 {
    padding-left: 10%;
    width: 80%;
    margin-bottom: 20px;
  }
}

@media screen AND (max-width:485px){
.table{
  width: 0%;
}
    #body #scene {
      display: flex;
      width:380px;
      height: 400px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      overflow: hidden;

  }
  #body #scene #left-zone {
    background: #fff;
    height: 75%;
    flex-grow: 0;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: left;
  }
  #body #scene #left-zone .list li.item input[type="radio"] ~ .content {
    position: absolute;
    left: 350px;
    top: -400px;
    width: 650px;
    height: 400px;
    animation-duration: 0.75s;
    animation-name: slideout;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry .picto {
    height: 105px;
    width: 148px;
    background: blue;
    background-image: url(service2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
