.icons {
    padding : 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 5px;
    width: 200px;
    height: 10px;
    position: relative;
    left : 15%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
  }
  .icons:hover {
    background: rgb(182, 179, 179);
  }
  .formInput {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }