/***** Add Client *****/
.form{
  position: relative;
  left: 12%;
  width : 80%;
}
.select{
    width: 350px;
    height:45px;
 }
.btn{
  width: 20%;
  height: 40px;
  position: relative;
  left: 35%;
  padding: 5px;
  background: rgb(187, 75, 142);
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.addRemovePhoneBtn{
  background : none;
  border:none;
  cursor:pointer
}

/*******Clients *****/
.add_Btn{
  float : right;
  height: 43px;
  width : 10%;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border : none;
  background-color: rgb(126, 17, 82);
  cursor: pointer;
}
.formInput{
  width: 240px;
  outline: none;
  height:40px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
}
.link{
  text-decoration: none;
  color : white;
}
table>tbody>tr {
  transition: 0.1s ease-in-out;
  cursor: pointer;
  height: 35px;
}
table>tbody>tr:hover {
  background-color: #fff;
  box-shadow: 2px 2px 12px rgba(214, 214, 214, 0.644), -1px -1px 8px rgba(187, 186, 186, 0.774);
}
.viewClientDetails{
  position:relative;
  left: 30%;
  width : 60%;
  top:2%;
}
.editClientDetails{
  position:relative;
  left: 11%;
  width : 90%;
  top:2%;
}
@media (max-width: 850px) {

  .form_section  {
    margin-left: -0.3%;
    width: 100%;
    
  }
  .btn_section{
    margin-top: 10%;
    margin-left: 33%;
    margin-bottom: 5%;
  }
  .Input_Section{
    padding: 10px;
    width: 34%;
    margin-top: 5%;
    border: 0.5px solid rgb(172, 168, 168);
  }
  .Select_Section{
    padding: 10px;
    margin-top : 5%;
    width: 42%;
    border: 0.5px solid rgb(172, 168, 168);
  }
  .EmailSection{
    padding: 10px;
    width: 82%;
    margin-top: 5%;
    border: 0.5px solid rgb(172, 168, 168);
  }
} ;

