/***** Add Client *****/
.form{
  position: relative;
  left: 22%;
  height: 400px;
  width : 60%;
}
.btn{
  width: 80%;
  height: 40px;
  position: relative;
  left: -45%;
  margin-top: 12%;
  padding: 5px;
  background: rgb(187, 75, 142);
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.div_Sides{
  float: left;
  margin: 15px;
}
.addRemovePhoneBtn{
  background : none;
  border:none;
  cursor:pointer
}

/*******Clients *****/
.add_Btn{
  float : right;
  height: 43px;
  width : 10%;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border : none;
  background-color: rgb(126, 17, 82);
  cursor: pointer;
}
.formInput{
  width: 280px;
  outline: none;
  height:40px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
}
.phoneInput{
  width: 280px;
  outline: none;
  height:40px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
}
.selectInput{
  width: 280px;
  outline: none;
  height:45px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163); 
}
.link{
  text-decoration: none;
  color : white;
}
table>tbody>tr {
  transition: 0.1s ease-in-out;
  cursor: pointer;
  height: 35px;
}
table>tbody>tr:hover {
  background-color: #fff;
  box-shadow: 2px 2px 12px rgba(214, 214, 214, 0.644), -1px -1px 8px rgba(187, 186, 186, 0.774);
}
.viewClientDetails{
  padding-left: 35px;
  float: left;
  font-size: 14px;
  width : 80%;
  top:2%;
}

.editClientDetails{
  position:relative;
  left: 20%;
  width : 70%;
  top:2%;
}
.search_form  {
  position : relative;
  left: 40%;
  width: 35%;
  margin-top:-2%
}
.Btn{
  width: 40%;
  height: 40px;
  position: relative;
  left: 30%;
  padding: 5px;
  background: rgb(187, 75, 142);
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.span{
  font-weight: bold;
}
@media (max-width: 850px) {

  .form{
    position : relative;
    width: 100%;
    left:-4%;
  }
  .div_Sides{
    width: 100%
  }
  .formInput{
    width: 90%;
  }
  .selectInput{
    width: 92%;
  }
  .phoneInput{
    width: 80%;
  }
  .btn{
    position : relative;
    left: 5%;
    margin-top: 5%;
  }
 .table{
    width:100%;
  }
  .search-form {
    position : relative;
    left: -5%;
    background: black
  }
} ;

