.dash_content{
    position: absolute;
    top:9%;
    left:0;
    right:0;
    height: 200vh;
    background: rgb(251, 251, 251);
}
.dash_title{
    background: transparent;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    position: relative;
    left:28%;
    margin-top: 15px;
    width: 500px;
}
.dash_title h3{
    display: flex;
    margin-top: 25px;
    position: relative;
    width: 36%;
    height: 50px;
}
.dash_title span {
    height: 50px;
    width: 190px;
    display: flex;
    margin-top: 50px;
    margin-left: -175px;
}
.dash_title img{
    width: 200px;
    height: 150px;
}
.component {
    background: none;
    position: absolute;
    left: 4%;
    width: 1200px;
    height: 470px;
}

.card1{
    background: transparent;
    width: 300px;
    height: 290px;
    float: left;
    padding-left: 15px;
    border-radius: 15px;
    margin: 5px;
}
.card2{
    background: transparent;
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 15px;
    padding-left: 15px;
}
.circleBar{
    position: absolute;
    left:33%;
    top:15%;
    width: 200px;
    height: 200px;
}
.card4{
    position: absolute;
    background: transparent;
    width: 300px;
    height: 300px;
    float: left;
    left: 51%;
    border-radius: 15px;
    padding-left: 15px;
}
.card3{
    background: transparent;
    width: 300px;
    height: 300px;
    float: right;
    padding-left: 15px;
    margin-right: 245px;
    border-radius: 15px;
}
.histo{
    position: relative;
    float: left;
    margin-top: 0px;
    margin-left:1%;
    width: 750px;
    height: 300px
}
.secondComponent{
    display: inline-block;
    padding-top: 15px;
    position: relative;
    margin-top: 23%;
    width: 100%;
    height: 400px
}
.check_histo{
    width: 435px;
    float: left;
    height: 310px;
    margin-top: 8px;
}
.receiptCheck{
    float: left;
    width: 300px;
    height: 300px;
    background: transparent;
   
}
.componentTwo{
    display: inline-block;
    padding-top: 15px;
    width: 700px;
    height: 300px;
    margin-left: 265px;
}
.secondo{
    width: 300px;
    height: 300px;
    background: transparent;
    float: left;
    margin-left: 25px;
}
@media(max-width: 800px){
.dash_content{
    position: absolute;
    top:5%;
    left:0;
    right:0;
    height: 95vh;
    background: rgb(239, 239, 239);
}
.dash_title{
    position: absolute;
    top:0;
    left:0;
    background: transparent;
    display: block;
    width: 92%;
    height:750px;
}
.dash_title img {
    width: 100%;
    height: 300px;
}
.dash_title h3{
    position: relative;
    font-size: 18px;
    left: 5%;
    font-size: 35px;
    width: 340px;
}
.dash_title span {
    height: 80px;
    width: 320px;
    font-size: 28px;
    display: flex;
    margin-top: -22px;
    margin-left: 8%;
}
}