@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Londrina+Outline&display=swap');
.section1{
    position: absolute;
    left:0;
    right:0;
    top:0;
    height:604px;
    background: url(image1.jpg),
    linear-gradient(steelblue,firebrick);
    background-color: pink;
    background-blend-mode: multiply;
    clip-path: polygon(100% 0%, 100% 49%, 49% 99%, 0 99%, 0 0);
}

.section1 p{
    position: absolute;
    top:5%;
    font-family: 'Fredericka the Great', 'cursive';
    width: 85%;
    left:3%;
    color:rgb(216, 213, 213);
    font-size: 65px;
}
