.container {
  padding-top: 10vh;
  padding-left: 200px;
  padding-right: 200px;
}

.container code {
  font-size: 24px;
  margin-top: 10px;
}

@media (max-width: 850px) {
  .container {
    padding-top: 20vh;
    padding-left: 40px;
    padding-right: 40px;
  }
  .container code {
    font-size: 18px;
  }
  input[type=radio]{
   padding-right: 0
  }
} ;