.dropdown {
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 999;
  width: 20vw;
  height: 40vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px;
  background-color: white;
}
.section{
  border : 1px solid rgb(196, 194, 194);
  border-radius: 5px;
  height: 515px;
  padding: 13px
}
.disabled_input{
  width: 70%;
  display: block;
  height: 35px;
  border-radius:5px;
  border:none;
  color : black;
  margin: 10px;
  background: none
}
.input {
  width: 55%;
  background: none;
  display: block;
  height: 35px;
  border-radius:5px;
  padding: 5px;
  outline:none;
  border: 1px solid rgb(207, 203, 203);
}
.form {
  position : relative;
  width : 65%;
  height:550px;
  left: 18%;
  border:1px solid rgb(202, 196, 196);
  border-radius : 15px;
}
.picture_section{
  float : right;
  position: relative;
  right: 7%;
  width: 30%;
  margin-top:4%;
  }
.img_section {
  border: 1px solid rgb(202, 201, 201);
  border-radius : 5px;
  width : 100%;
  height: 165px;
  position: relative;
  margin-top: 20%;
}
.input_img{
  display:none;
}
.upload_btn{
  border : 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  left: 30%;
  cursor :pointer;
}
.details_section{
  float:left;
  position : relative;
  margin-top: 4%;
  left: 3%;
  width : 70%;
}
.updateBtn{
  padding: 12px;
  width: 20%;
  height: 40px;
  position: relative;
  left: 55%;
  border:none;
  border-radius : 5px;
  background: linear-gradient(
    90deg,
    var(--main-color) 0%,
    var(--secondary-color) 49%
  );
  cursor: pointer;
  color : white;
  margin-top: 2%;
}
.link{
  text-decoration: none;
}
.content {
  background-color: black;
}
