/* *form* */
body , .btn , .btn_file , .input_item  {
  border : 0;
  outline : 0;
  font-size : 16px;
  border-radius : 320px;
  padding : 16px;
  background-color: #f7f7f7;
  letter-spacing : -0.2px;
 }
 .h1{
  margin-left: -5%;}
 .div_section{
   display: inline-block;
   width: 90%;
 }
 .div_right{
   float: right;
   width: 45%;
 }
 .div_left{
   float: left;
   width: 45%;
 }

 .input_item{
  box-shadow :   inset 2px 2px 5px #b8b3ba , inset -5px -5px 10px  #fff;
  width : 100%;
  box-sizing : border-box;
  height: 65px;
  margin : 15px;
 }
 .input_item:focus{
  box-shadow: inset 1px 1px 2px #babecc,
  inset  -1px -1px 2px #fff;
 }
 .btn {
  background-color :rgb(187, 75, 142);
  color: #fff;
  box-shadow : -5px -5px 20px #fff , 5px 5px 20px rgb(187, 75, 142);
  cursor : pointer;
  font-weight: 600;
  width : 40%;
  right: 20%;
  left : 28%;
  position: relative;
 }
 .btn:hover {
 box-shadow : -2px -2px 5px #fff, 2px 2px 5px #babecc;
 }
 .btn:active {
  box-shadow : inset 1px 1px 2px #babecc, 
  inset -1px -1px 2px #fff;
 } 
.file_input{
display: none;
}
.btn_file{
  display : block;
  background-color :#f7f7f7;
  margin-top: 2%;
  margin-left: 3%;
  color: #6a6a6a;
  box-shadow : -5px -5px 15px #fff , 5px 5px 5px #babecc;
  height: 35px;
  width: 93%;
  cursor : pointer;
}
.btn_file:hover{
  box-shadow : -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.btn_file:active{
  box-shadow : inset 1px 1px 2px #babecc, 
  inset -1px -1px 2px #fff;
}
 /* ** Projects *** */
.Bloc {
  display: inline-block;
  box-shadow : -2px -2px 5px #babecc, 2px 2px 5px #babecc;
  border-radius: 15px;
  width: 30%;
  margin: 7px;
  margin-left: 2%;
  cursor: pointer;
}
.addProject_Btn{
  /* float: right; */
  position: absolute;
  right : 12%;
  padding : 12px;
  cursor: pointer;
  margin-top: -6%;
  width: 8%;  
  border-radius: 12px;
  border : 1px solid grey;
}
/*project*/
.input_projectProfile {
  padding: 15px;
  width: 60%;
  border : 1px solid grey;
  border-radius: 12px;
  height: 15px;
}
.input_projectProfile_priority{
  padding: 15px;
  width:5%;
  border : 1px solid grey;
  border-radius: 12px;
  height: 5px;
}
.input_SaveBtn{
margin-left: 45%;
padding: 12px;
border : 1px solid grey;
border-radius: 12px;
}

.Bloc:hover{
  box-shadow: 2px 2px 12px rgba(214, 214, 214, 0.644), -1px -1px 8px rgba(187, 186, 186, 0.774);
}
.bloc_section{
  margin-top: 10%;
  padding: 7px;
}
.info_section{
  margin-top: -13%;
  margin-left: 5%;
  width: 50%;
}
.plus{
  float: right;
  padding: 7px;
  font-size: 20px;
  cursor: pointer;
}
.icons_Section{
  width: 40%;
  padding: 5px;
  margin-top: -3%;
  margin-left: 55%;
}
/* **search section ***** */
.search_box{
  position : absolute;
  top: 30%;
  left : 50%;
  transform : translate(-50%,-50%);
  background: white;
  height : 40px;
  border-radius : 40px;
  padding : 10px;
} 
.search_box:hover > .search_text {
  width : 240px;
  padding : 0 6px;
}
.search_box:hover > .search_btn {
  background : white;
} 
.search_btn {
  float : right ;
  width : 40px;
  height: 40px;
  border-radius: 50%;
  background : rgb(187, 75, 142);
  display : flex;
  justify-content : center;
  align-items : center;
  transition : 0.4s;
} 
.search_text {
  border : none;
  background : none ;
  outline : none ;
  float :left ;
  padding : 0;
  color : #babecc;
  font-size : 16px;
  transition : 0.4s;
  line-height : 40px;
  width : 0px;
}
.addtask_btn{
  padding: 10px;
  margin-left: 1%;
  width: 30%;
}
.savetask_btn{
  padding: 10px;
  margin-left: 15%;
  width: 15%;
}
.input {
padding : 5px;
cursor: pointer;
margin: 5px;
width: 18%;
 }
 .inputBtn {
  padding : 5px;
  cursor: pointer;
  margin: 5px;
  margin-left: 12%;
  width: 70%;
   }
 .projectName{
   text-align: center;
 }
.checkBox{
  width: 15px;
  height: 25px;
}
.dropdown {
  position: relative;
  width: 300px;
  height: 100px;
  background: #f0f1f6;
  border-radius: 30px;
  box-shadow : 20px 20px 60px #d0d0d0, -20px -20px 60px #ffffff;
  transition: all 500ms ease-in-out;
  cursor: pointer; 
}
.dropdown:active {
  background: #f0f1f6;
  box-shadow: inset 7px 7px 14px #cccdd1 , 
  inset -7px -7px 14px #ffffff;
}
.Modal {
  margin-top: 10%;
  width: 60%;
  height: 425px;
  overflow: scroll;
  margin-left: 20%;
 padding: 22px;
 border-radius:  12px;
 font-size: 15px;
}
.projectName{
  margin-left: -5%;
}
.spans{
  font-size: 13px;
  font-weight: 200;
}
.buttonSection{
  margin-left: 22%;
}
.inputTasks {
  padding: 10px;
  width: 90%;
  border : 1px solid grey;
  border-radius: 9px;
}
.ModalClose{
  width: 30%;
  height: 20%;
  margin-top: 15%;
  margin-left: 35%;
  border-radius: 15px;
}
.close_Btn {
  background: red;
  border : 1px solid red;
  color :white;
  padding : 10px;
  height: 43px;
  border-radius: 9px;
  margin: 35px;
  cursor: pointer;
}
.btn_section{
  margin-left: 21%;
  margin-top: -5%;
}
.closeParagraph{
  font-weight: 200;
  text-align: center;
  padding-top: 5%;
}
 @media (max-width: 1050px) {
  .input_item{
    width: 100%;
  }
  .div_section {
   width: 100%;
   margin-left: -3%;
  }
  .div_right{
    float: left;
    width: 90%;
  }
  .div_left{
    float: left;
    width: 90%;
  }
  .btn{
    position: relative;
    right: 20%;
    left : 30%;
    top:100%
  }
  .btn_file{
    width: 90%;
  }
  .savetask_btn{
    width: 40%;
  }
  .addtask_btn{
    margin-left: 10%;
  }
  .bloc_section{
    width: 100%;
  }
  .Bloc{
    margin-top: 18%;
    margin-left: -5%;
    font-size: 19px;
    width: 100%;
  }
  .search_box{
    margin-top: -15%;
    width: 30%;
    margin-left: 1%;
    background: #b8b3ba;
    width: 50%;
  }
  .search_text{
    color : white;
    width: 90%;
    font-size: 18px;
  }
  .search_btn{
    margin-top: -21%;
  }
}