@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Myeongjo&family=Nunito:wght@200&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}
/** PROJECT PROFILE  **/
.Btndefault{
  width: 20%;
  height: 40px;
  margin: 5px;
  float: right;
  padding: 5px;
  background: #4682b4;
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.BtnTransparent{
  width: 22%;
  margin:5px;
  float: right;
  height: 40px;
  padding: 7px;
  background: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border:1px solid grey;
}

.readMore{
  position : relative;
  left: 2%;
  padding: 10px;
  width: 95%;
  height : 42px;
  background : #bfc1c2;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius : 5px;
  cursor:pointer
}
/***CARD ***/
.Bloc {
  border:1px solid grey;
  display: inline-block;
  margin: 5px;
  padding: 15px;
  width: 29%;
  font-size: 19px;
  box-shadow: 0 0 4px;
}





.ModalParagraph{
  position: relative;
  top: 15%;
}
.btn_section{
  position : relative;
  left: 1.7%;
  top:35%;
  display: inline-block;
  margin-top: 5%;
}
.white_btn{
  background: none;
  border: none;
  padding : 10px ;
  text-align : center;
  cursor:pointer;
  color: rgb(18, 64, 203);
  border-radius: 8px;
}
.confirm_btn{
  background: rgb(76, 117, 240);
  border: none;
  padding : 10px ;
  border-radius: 5px;
  text-align : center;
  cursor:pointer;
  color: white;
}
.Details{
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-left: 25px;
  font-size:17px;
  width: 95%;
  height: 475px;
}
.details{
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-left:15px;
  height: auto
}
.add_icon{
  display: inline-block;
  margin-left: 85%;
  border-radius:50%;
  background: #4682b4;
  width: 2%;
  height: 29px;
  text-align: center;
  padding: 13px;
  cursor: pointer;
}
.add_icon:hover{
  transform: scale(1.1);
}
.profile {
  cursor: pointer;
  border: 2px solid grey;
  padding: 2px;
  width: 35px;
  height: 35px;
  margin-top: 2%;
  border-radius: 50%;
  background-color: none;
  margin: 5px;
  transition: all 0.3s;
}
.profile:hover {
  transform: scale(1.1);
}

 @media (max-width:850px) {
  .container{
    font-size: 19px;
    height:280px;
    float:left;
    width: 100%;
  }
  .Bloc:hover{
    background: #f5f5f5
  }
  .add_icon{
    float:right;
    width: 8%;
    text-align:center;
    height:25px;
  }
  .add_icon:hover{
    transform: scale(1.1);
  }
}
