@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Myeongjo&family=Nunito:wght@200&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}
/** PROJECT PROFILE  **/
.Btndefault{
  width: 20%;
  text-align:center;
  margin-right:5px;
  float: left;
  padding: 11px;
  background: #4169e1;
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.edit{
  position:relative;
  margin-top:15%;
  margin-left:48%;
  background:green;
  padding:10px;
  border-radius:50%;
  width:25px;
  height:23px;
}
.BtnTransparent{
  width: 24%;
  float: left;
  text-align:center;
  padding: 10px;
  background: none;
  color: black;
  font-size:13px;
  cursor: pointer;
  border-radius: 5px;
  border:1px solid grey;
}

.readMore{
  position : relative;
  left: 2%;
  padding: 10px;
  width: 95%;
  height : 42px;
  background : #bfc1c2;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius : 5px;
  cursor:pointer
}
/***CARD ***/
.Bloc {
  border:1px solid rgb(204, 204, 204);
  display: inline-block;
  margin: 10px;
  padding: 15px;
  width: 28%;
  font-size: 15px;
  border-radius:8px;
}
.btnView{
  border:none;
  border-radius: 5px;
  padding:11px;
  background: #ff8243;
  cursor:pointer;
  color:white;
  float:left;
  margin-right:5px
}




.ModalParagraph{
  position: relative;
  top: 15%;
}
.btn_section{
  position : relative;
  left: 1.7%;
  top:35%;
  display: inline-block;
  margin-top: 5%;
}
.white_btn{
  background: none;
  border: none;
  padding : 10px ;
  text-align : center;
  cursor:pointer;
  color: rgb(18, 64, 203);
  border-radius: 8px;
}
.confirm_btn{
  background: rgb(76, 117, 240);
  border: none;
  padding : 10px ;
  border-radius: 5px;
  text-align : center;
  cursor:pointer;
  color: white;
}
.Details{
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-left: 25px;
  padding-bottom: 25px;
  font-size:17px;
  width: 95%;
  height: auto;
}
.details{
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-left:15px;
  height: auto
}
.add_icon{
  position:absolute;
  right:3%;
  top:95%;
  padding:10px;
  font-size:15px;
  border-radius:50%;
  background: green;
  width: 15px;
  height: 18px;
  text-align: center;
  padding: 13px;
  cursor: pointer;
}
.add_icon:hover{
  transform: scale(1.1);
}
.defaultBtn{
  background: #ff7518;
  position:absolute;
  left:40%;
  bottom:4%;
  height:44px;
  border:none;
  outline:none;
  padding:10px;
  border-radius:8px;
  color:white;
  font-weight: 600;
}
.plus_icon{
  position:absolute;
  background:rgb(128, 228, 128);
  padding:10px;
  border-radius:50%;
  width: 19px;
  height:19px;
  text-align:center;
  left:45%;
  top:1%;
}
.profile {
  cursor: pointer;
  border: 2px solid grey;
  padding: 2px;
  width: 35px;
  height: 35px;
  margin-top: 2%;
  border-radius: 50%;
  background-color: none;
  margin: 5px;
  transition: all 0.3s;
}
.profile:hover {
  transform: scale(1.1);
}

 @media (max-width:850px) {
  .container{
    font-size: 19px;
    height:280px;
    float:left;
    width: 100%;
  }
  .Bloc:hover{
    background: #f5f5f5
  }
  .add_icon{
    float:right;
    width: 8%;
    text-align:center;
    height:25px;
  }
  .add_icon:hover{
    transform: scale(1.1);
  }
}
