/* * Add Project* */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Myeongjo&family=Nunito:wght@200&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}
.formInput{
    width: 20%;
    padding: 5px;
    height: 35px;
    background: rgba(224, 222, 222, 0.2);
    outline:none;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 30px;
}
.FieldInput{
  width: 90%;
}
.btn{
  width: 20%;
  height: 40px;
  position: relative;
  margin-top: 5%;
  left: -10%;
  padding: 5px;
  background: rgb(187, 75, 142);
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.Btn{
  width: 20%;
  height: 40px;
  position: relative;
  margin-top: -2%;
  left: 40%;
  padding: 5px;
  background: rgb(187, 75, 142);
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
 /* ** Projects *** */
 .search_form  {
   position:relative;
   left:39%;
   width: 25%;
 }
 .ModalParagraph{
  position: relative;
  left: 15%;
  top: 5%;
  width: 70%;
  font-size: 20px;
}
.btn_section{
  position : relative;
  left: 30%;
  display: inline-block;
  margin-top: 5%;
  }
.white_btn{
  background: none;
  border: none;
  padding : 10px ;
  text-align : center;
  cursor:pointer;
  color: rgb(18, 64, 203);
  border-radius: 8px;
}
.confirm_btn{
  background: rgb(76, 117, 240);
  border: none;
  padding : 10px ;
  border-radius: 5px;
  text-align : center;
  cursor:pointer;
  color: white;
}
.Bloc {
  display: inline-block;
  box-shadow : -2px -2px 5px #babecc, 2px 2px 5px #babecc;
  border-radius: 15px;
  width: 29%;
  margin: 7px;
  margin-left: 2%;
  padding: 5px;
  cursor: pointer;
}
.bloc_Section{
  margin-top:5%;
}
.Bloc:hover{
  box-shadow: 2px 2px 12px rgba(214, 214, 214, 0.644), -1px -1px 8px rgba(187, 186, 186, 0.774);
}
.icons {
  padding : 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 200px;
  height: 10px;
  position: relative;
  left : 15%;
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
}
.icons:hover {
  background: rgb(182, 179, 179);
}
/*projectProfile*/
.profile {
  cursor: pointer;
  border: 2px solid grey;
  padding: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: none;
  margin: 5px;
  transition: all 0.3s;
}

.profile:hover {
  transform: scale(1.1);
}
.Details{
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-left: 25px;
  width: 98%;
  height: 575px;
}
.details{
  border-bottom: 1px solid rgb(199, 199, 199);
}
.h4{
  font-size: 15px;
  font-weight: bold;
}
.add_icon{
  position: relative;
  left: 88%;
  cursor:pointer
}
.add_icon:hover{
  color: rgb(187, 75, 142);
  transform: scale(1.1);
}
.readMore{
  position : relative;
  left: 2%;
  padding: 10px;
  width: 95%;
  height : 42px;
  background : grey;
  color: white;
  border: none;
  border-radius : 5px;
  cursor:pointer
}
.Modal {
  margin-top: 10%;
  background-color: #f7f7f7;
  width: 45%;
  height: 435px;
  overflow: scroll;
  margin-left: 30%;
 padding: 22px;
 border-radius:  12px;
 font-size: 15px;
}
.XMARK{
  float: right;
  position: relative;
  top:2%;
  left: -2.8%;
  cursor: pointer;
}
.inputTasks {
  padding: 10px;
  width: 90%;
  border : 1px solid grey;
  border-radius: 9px;
}
.ModalClose{
  width: 30%;
  height: 39%;
  margin-top: 15%;
  margin-left: 35%;
  border-radius: 15px;
}
.TaskModal{
  width: 30%;
  height: 50%;
  background: white;
  margin-left: 35%;
  margin-top: 12%;
  border-radius: 12px;
  padding: 12px;
}
/**Tasks**/
.DeleteTask{
  padding: 12px;
  border: 1px solid grey;
  border-radius: 7px;
  position: relative;
  float: right;
  right: 12%;
  margin-bottom: 5%;
  margin: 4px;
  cursor: pointer;
}

 @media (max-width: 480px) {
  .btn{
    margin-top: 5%;
    left:5%;
    height: 55px;
    width: 330px;
  }
  .bloc_Section{
    width: 100%;
   margin-top: 100px;
   margin-left: -13px;

  }
  .Bloc{
    font-size: 19px;
    display: block;
    padding: 15px;
    width: 90%;
    margin: 15px;
  }
  .search_box{
    top:22%;
    width: 70%;
    margin-left: 1%;
    background: #ffffff;
  }
  .search_text{
    color : white;
    width: 100%;
    font-size: 18px;
  }
  .search_btn{
  position: relative;
  top:-95%;
  }
}