/* * Add Project* */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Nanum+Myeongjo&family=Nunito:wght@200&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}
.form_title{
text-align: center;
}
.div_Sides{
  float: left;
  margin: 15px;
}
.form {
  position:absolute;
  left: 10%;
  width:85%;
  height: 455px;
}
.formInput{
    width: 10%;
    height: 35px;
    background: rgba(224, 222, 222, 0.2);
    outline:none;
    border: none;
}
.btn{
  width: 20%;
  height: 40px;
  position: relative;
  margin-top: 5%;
  left: -10%;
  padding: 5px;
  background: rgb(187, 75, 142);
  color:white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
 /* ** Projects *** */
 .search_form  {
   position:relative;
   left:39%;
   width: 25%;
 }
 .ModalParagraph{
  position: relative;
  left: 15%;
  top: 5%;
  width: 70%;
  font-size: 20px;
}
.btn_section{
  position : relative;
  left: 30%;
  display: inline-block;
  margin-top: 5%;
  }
.white_btn{
  background: none;
  border: none;
  padding : 10px ;
  text-align : center;
  cursor:pointer;
  color: rgb(18, 64, 203);
  border-radius: 8px;
}
.confirm_btn{
  background: rgb(76, 117, 240);
  border: none;
  padding : 10px ;
  border-radius: 5px;
  text-align : center;
  cursor:pointer;
  color: white;
}
.Bloc {
  display: inline-block;
  box-shadow : -2px -2px 5px #babecc, 2px 2px 5px #babecc;
  border-radius: 15px;
  width: 29%;
  margin: 7px;
  margin-left: 2%;
  padding: 5px;
  cursor: pointer;
}
.bloc_Section{
  margin-top:5%;
}
.Bloc:hover{
  box-shadow: 2px 2px 12px rgba(214, 214, 214, 0.644), -1px -1px 8px rgba(187, 186, 186, 0.774);
}
.icons {
  padding : 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 200px;
  height: 10px;
  position: relative;
  left : 15%;
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
}
.icons:hover {
  background: rgb(182, 179, 179);
}
/*projectProfile*/
.profile {
  cursor: pointer;
  border: 2px solid grey;
  padding: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: none;
  margin: 5px;
  transition: all 0.3s;
}
.formInput {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.profile:hover {
  transform: scale(1.1);
}
.Details{
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-left: 25px;
  width: 98%;
  height: 575px;
}
.details{
  border-bottom: 1px solid rgb(199, 199, 199);
}
.h4{
  font-size: 19px;
  font-weight: bold;
}
.add_icon{
  position: relative;
  left: 88%;
  cursor:pointer
}
.add_icon:hover{
  color: rgb(187, 75, 142);
  transform: scale(1.1);
}
.formInput{
  width: 440px;
  outline: none;
  height:55px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
}
.readMore{
  position : relative;
  left: 2%;
  padding: 10px;
  width: 95%;
  height : 42px;
  background : grey;
  color: white;
  border: none;
  border-radius : 5px;
  cursor:pointer
}
.Modal {
  margin-top: 10%;
  background-color: #f7f7f7;
  width: 45%;
  height: 435px;
  overflow: scroll;
  margin-left: 30%;
 padding: 22px;
 border-radius:  12px;
 font-size: 15px;
}
.XMARK{
  float: right;
  position: relative;
  top:2%;
  left: -2.8%;
  cursor: pointer;
}
.input_projectProfile {
  padding: 15px;
  width: 60%;
  border : 1px solid grey;
  border-radius: 12px;
  height: 15px;
}
.input_projectProfile_priority{
  padding: 15px;
  width:5%;
  border : 1px solid grey;
  border-radius: 12px;
  height: 5px;
}
.input_SaveBtn{
margin-left: 45%;
padding: 12px;
border : 1px solid grey;
border-radius: 12px;
}
.projectName{
  margin-left: -5%;
}
.spans{
  font-size: 13px;
  font-weight: 200;
}
.buttonSection{
  margin-left: 22%;
}
.inputTasks {
  padding: 10px;
  width: 90%;
  border : 1px solid grey;
  border-radius: 9px;
}
.ModalClose{
  width: 30%;
  height: 39%;
  margin-top: 15%;
  margin-left: 35%;
  border-radius: 15px;
}
.TaskModal{
  width: 30%;
  height: 50%;
  background: white;
  margin-left: 35%;
  margin-top: 12%;
  border-radius: 12px;
  padding: 12px;
}
.bloc_info{
  text-align: center;
}
.addBtn_input{
  padding : 15px;
  border : 1px solid grey;
  border-radius : 9px;
  cursor: pointer;
  margin: 5px;
  width: 29%;
  position: relative;
}
.viewAllList_Btn {
  padding : 15px;
  border : 1px solid grey;
  border-radius : 9px;
  cursor: pointer;
  margin: 5px;
  width: 23%;
  position: relative;
  left : 38%;
}
.addBtns_Section{
  position: relative;
  width: 49%;
  left : 34%;
}
/**Tasks**/
.DeleteTask{
  padding: 12px;
  border: 1px solid grey;
  border-radius: 7px;
  position: relative;
  float: right;
  right: 12%;
  margin-bottom: 5%;
  margin: 4px;
  cursor: pointer;
}
/*pagination*/
.pageNumbers {
  list-style: none;
  display: flex;
  position: relative;
  left: 35%;
  margin-top: 65px;
  width: 30%;
}
.pageNumbers li {
  padding: 10px;
  border: 1px solid rgb(200, 196, 196);
  border-radius: 5px;
  cursor: pointer;
}
.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 15px;
  cursor: pointer;
}
 @media (max-width: 480px) {
  .form {
     left:7%;
     height: 650px;
     width : 90%;
   }
  .select {
     width: 330px;
   }
  .div_Sides{
    position : relative;
    left:2%;
    width: 95%;
    margin:10px;
    }
  .btn{
    margin-top: 5%;
    left:5%;
    height: 55px;
    width: 330px;
  }
  .btn_file{
    width: 90%;
  }
  .savetask_btn{
    width: 40%;
  }
  .addtask_btn{
    margin-left: 10%;
  }
  .bloc_Section{
    width: 100%;
   margin-top: 100px;
   margin-left: -13px;

  }
  .Bloc{
    font-size: 19px;
    display: block;
    padding: 15px;
    width: 90%;
    margin: 15px;
  }
  .search_box{
    top:22%;
    width: 70%;
    margin-left: 1%;
    background: #ffffff;
  }
  .search_text{
    color : white;
    width: 100%;
    font-size: 18px;
  }
  .search_btn{
  position: relative;
  top:-95%;
  }
  .pageNumbers{
    position: relative;
    left: -3%;
  }
  .input{
    font-size: 16px;
    position: relative;
    left: 8%;
    padding: 10px;
    width: 25%;
  }

  /* .search-form{
    position:relative;
    left:-12%
  } */
}