.wrapper{
  width: 98%;
  height: 83vh;
  display: flex;
}

.separate{
  width: 40%;
  height: 480px;
  padding: 10px;
  position: relative;

}

.banner{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  opacity: 0;
  transition: 0.5s all;
}

.banner_img{
  position: relative;
  left: 18%;
  width: 90%;
  height: 90%;
}

.copyright{
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.form_section{
  width: 50%;
  border-radius: 25px;
  height: 510px;
  padding: 10px;
  position: relative;
  top:-4%;
  background: rgb(243, 243, 243);
}

.form_style{
  position: absolute;
  width: 100%;
  top:35%;
  left: 40%;
  transform: translate(-40%, -35%);
}

.form_style h2{
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  opacity: 0;
  transition: 0.5s all;
}

.icons{
  text-align: left;
}

.form{
  opacity: 0;
  transition: 0.5s all
}

.fields{
  position: relative;
  left: 15%;
  margin: 20px 0px;
  width:75%;
  border-bottom: 1px solid rgb(131, 131, 131);
}

.fields label{
  font-size: 15px;
}

.fields input{
  width: 84.5%;
  left: 5%;
  margin: 6px 0px 0px;
  position :relative;
  border: none;
  background: none;
  padding: 10px 25px 10px 5px;
  outline: none;
}

.p_right{
  float: right;
  margin-right: 20px;
  text-decoration : none;
  color : black
}
.p_left{
  float: left;
  margin-left: 20px;
  text-decoration : none;
  color : black
}

.submit_btn{
  clear: both;
  position: relative;
  left: 16%;
  padding: 10px 20px;
  width: 70%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: #F3F0F7;
  margin: 15px auto;
  border: 1px solid #999;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.4s all;
}

.submit_btn:hover{
  background: #d8a0e6;
  color: #fff;
  border: 1px solid #DFD3EB;
}

.spinner{
  position : relative;
  left: 50%
}

.file_input {
  display: none;
}
.btn_file{
  position : relative;
  left: -5%;
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}
@media(max-width: 700px){
  .wrapper{
    height: 100%;
    display: grid;
  }
  .separate{
    order: 2;
    margin: 15px auto;
    width: 100%;
    height: 30vh;
    padding: 0px;
  }
  .banner{
    width: 100%;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
  }
  .banner_img{
    width: 100%;
    height: 100%;
  }  
  .copyright{bottom: 0;}
  .form_section{
    position :relative;
    left:-5%;
    margin-top: -8%;
    width: 103%;
    height: 90vh;
    background: rgb(243, 243, 243);
    order: 1;
  }
  .form_style{
    width: 90%;
    margin: 0px auto;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
  }
  .fields input {
    font-size: 20px
  }
  .p_right{
    position : relative;
    left: -44%;
    font-size: 20px;
  }
  .p_left{
    font-size: 20px;

  }
}
